* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #222;
    padding: 1rem 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 1.5rem;
}

.logo span {
    color: #ec5021;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.home {
    background: url('images/bg.jpg') no-repeat center center/cover;
    color: rgb(29, 6, 6);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
body{
    background-image: url(/"C:\Users\HP\Downloads\jpj image.jpg");
    background-size: cover;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #ff5722;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}

section {
    padding: 50px;
    text-align: center;
}

.skills ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills ul li {
    background: #eee;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    background: white;
    padding: 20px;
    margin: 10px;
    width: 250px;
    box-shadow: 0px 2px 5px rgba(176, 72, 72, 0.2);
}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.contact input, .contact textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
